<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:fpc="http://typo3.org/ns/T3/FluidPageCache/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Default"/>

<f:section name="Content">

    <f:if condition="{recordId}">
        <f:then>
            <f:render partial="CachedRecords" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:render partial="NoRecordSelected" arguments="{_all}"/>
        </f:else>
    </f:if>

</f:section>

</html>
